.header {
  padding: 15px 15px;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: var(--shadow);
  margin: 25px;
  box-sizing: border-box;
  border-radius: 10px;
}

h1 {
  font-size: 1.8em;
  padding: 10px;
}

h2 {
  font-size: 1.6em;
  padding: 10px;
  text-decoration: underline;
}
