.footer {
  border-top: 1px solid #333;
  bottom: 0;
  left: 0;
  height: 35px;
  position: fixed;
  width: 100%;
  align-items: center;
  align-content: center;
  display: inline;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
}

.dev {
  text-align: end;
  padding: 10px;
}
